# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and outputs
*.log
*.out

# Data or model checkpoints
datasets_2/
logs/
Batch*/
checkpoints/
*.pt
*.pth
*.h5
*.npz
*.npy
*.ckpt

# Large Files 
Baseline_Results_200_frame/
centrifugal/
planar/